/* hero background image */
.bgimage {
    height:100vh;
    background: url('pic.jpg');
    background-size:cover;
    position:relative;
}

.navbar i {
    margin-right: 50px;
    cursor: pointer;
  }
  
  /* text css above hero image*/
.hero_title {
    font-size: 2.5rem;
}

.hero_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */

#contact {
    padding-bottom: 4rem;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}

.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: white;
    text-align: center;
}